<div class="app" fxlayout="row">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #start mode="side" [opened]="false" class="app-menu">
      <div class="slidenav_list">
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/dashboard'">Dashboard</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/cars'">Cars</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/builders'">Builders</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/formers'">Formers</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>{{currentpage}}</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="app_outlet">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>